@font-face {
    font-family: 'NunitoSans';
       src: url('./assets/fonts/NunitoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
 }
 
 @font-face {
    font-family: 'NunitoSans';
       src: url('./assets/fonts/NunitoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
 }

 body {
     font-family: 'NunitoSans', sans-serif;
     font-size:16px;
 }